body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: #202020;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

#display {
    width: 95%;
    height: 70px;
    padding: 10px;
    font-size: 25px;
    text-align: Right;
    direction: ltr;
    border: none;
    background-color: #202020;
    color: #ffffff;
}

#keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100%; 
    aspect-ratio: 1; 
    border-radius: 20px;
    border: none;
    background-color: #323232;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
button:hover {
    background-color: #3b3b3b;
}
button:active {
    background-color: #323232;
}


.eql{
    color: #000;
    background-color: #76b9ed;
    font-size: 25px;
}
.eql:hover{
    background-color: #6da9d8;
}
.eql:active{
    background-color: #649ac3;
}


.number {
    background-color: #3b3b3b;
    font-size: 25px;
}
.number:hover {
    background-color: #323232;
}
.number:active {
    background-color: #282828;
}

#second.active {
    background-color: #6da9d8;
  }
  